/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.8.2017, 19:15:08
    Author     : Jakub
*/

#mainMenu{
    -fx-background-color: white;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #D7D7D7;
    -fx-background-color: #4c8528;
}


