    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.8.2017, 20:35:23
    Author     : Jakub
*/
.button{
    -fx-border-width: 0px 2px 2px 0px;
    -fx-border-color: white;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: #262626;
    -fx-font-size: 12px; 
    -fx-padding: 34px 15px 10px 15px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -fx-cursor:hand;
    -fx-text-fill: white;
}
.button:hover{
    -fx-border-width: 0px 2px 2px 0px;
    -fx-background-color: white;
    -fx-border-color: #262626;
    -fx-text-fill: black;
}
.button:focused{
    -fx-background-color: #959595;
    -fx-border-color: #D7D7D7;
    -fx-border-width: 0px 2px 2px 0px;
    -fx-text-fill: white;
}
